:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e0dbdb;
  background: #242424;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  
}

* {
  box-sizing: border-box;
}